.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-right: 100px;
	padding-left: 100px;
}

.logo {
	width: 200px;
}

.navigation-ul {
	display: flex;
	font-size: 24px;
	font-family: 'Roboto';
	color: #3D58A6;
}

.navigation-li {
	padding-left: 30px;
}

.social-ul {
	display: flex;
}

.social-li {
	padding-left: 20px;
}

.social-li:after {
	content: '';
	display: inline-block;
	width: 3px;
	height: 30px;
	background-color: #3D58A6;
	margin-left: 15px;
}

.social-li:last-child:after {
	display: none;
}

.fa-google-plus-g {
	font-size: 35px;
	color: #3D58A6;
}

.fa-facebook-f {
	font-size: 30px;
	color: #3D58A6;
}

.fa-youtube {
	font-size: 30px;
	color: #3D58A6;
}

.fa-search {
	font-size: 30px;
	color: red;
}

.container2 {
	background-color: #EE4036;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	width: 100%;
}

.about {
	margin-left: 75px;
	font-size: 22px;
	color: #fff;
	font-family: 'Roboto';
}

.container3 {
	display: flex;
	position: relative;
	border-bottom: solid;
	border-width: 2px;
	border-color: #EE4036;
	padding-bottom: 40px;
	justify-content: center;
	align-content: space-between;
	width: 100%;
}

.image {
	margin: 0 auto;
}

.first {
	margin-left: 100px;
	margin-top: 110px;
}

.box, .box2, .box3 {
	display: flex;
	align-items: center;
}

.box-c:first-child {
	margin-left: 100px;
	margin-top: 110px;
}

.box-c:last-child {
	margin: 0;
}

.box-c {
	margin-right: 70px;
}

.heading {
	font-size: 22px;
	color: #EE4036;
	font-family: 'Roboto';
	margin-top: 5px;
}

.text-body {
	font-size: 20px;
	color: #58595B;
	font-family: 'Roboto';
	margin-top: 5px;
}

.box {
	border-style: solid;
	border-width: 1.5px;
	color: #EE4036;
	height: 300px;
	padding: 50px;
}

.box2 {
	border-style: solid;
	border-width: 1.5px;
	color: #EE4036;
	height: 400px;
	padding: 70px;
	margin-top: 60px;
}

.box3 {
	border-style: solid;
	border-width: 1.5px;
	color: #EE4036;
	height: 300px;
	padding: 50px;
	margin-right: 100px;
	margin-top: 110px;
}

.child {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 260px;
	height: 185px;
	margin: 0 auto;
}

.container4 {
	width: 100%;
	margin-bottom: 100px;
}

.team {
	font-size: 22px;
	color: #EE4036;
	font-family: 'Roboto';
	bottom: 50px;
	margin-left: 100px;
	margin-top: 20px;
}

.mini-container {
	display: flex;
	justify-content: space-between;
	padding-right: 200px;
	padding-left: 90px;
}

.photo-box {
	margin-top: 40px;
	position: relative;
}

.surname {
	position: absolute;
	width: 135px;
	top: 80px;
	left: 40px;
	background: #EE4036;
	cursor: pointer;
}

.container5 {
	width: 100%;
	background: #BDCCD4;
	padding: 40px 100px 40px 100px;
	display: flex;
	justify-content: space-between;
}

.container6 {
	width: 100%;
	background: #E6E6E6;
	padding: 30px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.parent {
	display: flex;
	justify-content: space-between;
}

.parent-child {
	background: #F2F2F2;
	padding: 30px;
}

.greta {
	width: 570px;
	display: flex;
	padding-top: 20px;
}

.heading2 {
	font-size: 24px;
	color: #000;
	background: #EE4036;
	width: 330px;
	margin-bottom: 30px;
}

.title {
	font-size: 22px;
	color: #3D58A6;
}

.right-text {
	padding-left: 35px;
	font-size: 24px;
	color: #000;
	font-family: 'Roboto';
}

.read-more {
	float: right;
	font-size: 14px;
	color: #3D58A6;
	font-family: 'Roboto';
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-text {
	float: left;
	margin-left: 100px;
}

.footer-text2 {
	float: right;
	margin-right: 100px;
}

.clear {
	clear: both;
}

.photo6 {
	height: 135px;
}

.photo7 {
	height: 135px;
}
